.cap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
}

.card-img-top {
  opacity: 0.8;
  height: 173px;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-body {
  padding: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.chronometer {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #555; /* Subtle color for contrast */
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  height: 45px;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: #f6b221; /* EY yellow color */
  border-color: #f6b221;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  width: 100%;
}

.btn-primary:hover {
  background-color: #e0a81c;
}
